<h1><%= t('activerecord.discipline.edit_discipline') %></h1>

<%= render 'form', discipline: @discipline %>

<%= link_to t('activerecord.show'), @discipline %> |
<%= link_to t('activerecord.back'), disciplines_path %>
